/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap {
  height: 150px;
}

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: rgb(45, 45, 45);
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #0a3069;
}
.react-calendar-heatmap .color-github-2 {
  fill: #0969da;
}
.react-calendar-heatmap .color-github-3 {
  fill: #54aeff;
}
.react-calendar-heatmap .color-github-4 {
  fill: #b6e3ff;
}

/*
blue
--color-calendar-winter-graph-day-L1-bg: #0A3069;
--color-calendar-winter-graph-day-L2-bg: #0969DA;
--color-calendar-winter-graph-day-L3-bg: #54AEFF;
--color-calendar-winter-graph-day-L4-bg: #B6E3FF;

orange
--color-calendar-halloween-graph-day-L1-bg: #631c03;
--color-calendar-halloween-graph-day-L2-bg: #bd561d;
--color-calendar-halloween-graph-day-L3-bg: #fa7a18;
--color-calendar-halloween-graph-day-L4-bg: #fddf68;

green
--color-calendar-graph-day-L1-bg: #0e4429;
--color-calendar-graph-day-L2-bg: #006d32;
--color-calendar-graph-day-L3-bg: #26a641;
--color-calendar-graph-day-L4-bg: #39d353;
*/
