@import "profile/[username]/heatmap-styles.css";

@media (prefers-color-scheme: dark) {
}

.sketch-grid a {
  color: white;
  text-decoration: none;
}

.sketch-grid a:hover {
  text-decoration: underline;
}

.about-page a {
  color: lightblue;
}
